@mixin boxShadow {
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8);

  // 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
  // inset 3px 3px 3px #dadada, inset -3px -3px 3px #fafafa;
}

@mixin transition($delay) {
  transition: all $delay;
}

@mixin b-radius($px) {
  border-radius: $px;
}
