body.dark {
  background-color: #2c2d30;
  color: #fffefecc;

  .main-wrapper section,
  .contact .contact-form .form-group .form-control {
    background-color: #2c2d30;
  }

  .about hr,
  .about .my-skills .all-skills .skill .chart-bar,
  .portfolio .port-box .port-back a {
    background-color: #575757;
  }

  .contact .contact-info ul li h5 {
    color: var(--main--color);
  }

  h1,
  h2,
  h3,
  h4,
  .navbar .navbar-brand,
  .navbar .navbar-collapse ul.navbar-nav .nav-item:hover .nav-link,
  .navbar .navbar-collapse ul.navbar-nav .nav-item.active .nav-link,
  .about .about-content h4,
  .services .services-boxes .services-box-content h4,
  .portfolio .port-nav li:hover a,
  .portfolio .port-nav li.active a,
  .portfolio .port-box .port-back a i,
  .client
    .swiper-container
    .swiper-wrapper
    .swiper-slide
    .single-client
    .slide-image
    .slide-name
    span,
  .blog .blog-boxes .blog-content h4,
  .contact .contact-form .form-group .form-control {
    color: #fffefecc;
  }

  .page-title p,
  .navbar .navbar-collapse ul.navbar-nav .nav-item .nav-link,
  .header .main-text-container .main-text .hello,
  .header .main-text-container .main-text p,
  .about .about-content ul li span,
  .about .my-skills .all-skills .skill .text span,
  .portfolio .port-nav li a,
  .client
    .swiper-container
    .swiper-wrapper
    .swiper-slide
    .single-client
    .slide-text
    p,
  .contact .contact-info ul li h5 span,
  .client
    .swiper-container
    .swiper-wrapper
    .swiper-slide
    .single-client
    .slide-image
    .slide-name
    small,
  .blog .blog-boxes .blog-content p,
  .services .services-boxes .services-box-content p,
  footer p {
    color: #cbcbcb70;
  }

  .btns,
  .site-top,
  .navbar,
  .navbar.fx-top,
  .navbar .navbar-toggler,
  .navbar .navbar-collapse ul.navbar-nav .nav-item .nav-link,
  .about .my-skills .all-skills,
  .services .services-boxes,
  .portfolio .port-nav li,
  .client .swiper-container .swiper-wrapper .swiper-slide,
  .blog .blog-boxes,
  .contact .contact-info ul li .social li {
    background-color: #2c2d30;
    box-shadow: 0.3rem 0.3rem 0.4rem #202125, -0.3rem -0.3rem 0.4rem #3e3e3e;
  }

  .btns .btn-btn:hover,
  .navbar .navbar-collapse ul.navbar-nav .nav-item:hover .nav-link,
  .navbar .navbar-collapse ul.navbar-nav .nav-item.active .nav-link,
  .about .image-container img,
  .portfolio .port-nav li:hover a,
  .portfolio .port-nav li.active a,
  .portfolio .port-arrea .port-box .port-item .port-front,
  .contact .contact-form .form-group .form-control,
  .contact .contact-info ul li .social li a:hover {
    box-shadow: inset 0.3rem 0.3rem 0.4rem #202125,
      inset -0.3rem -0.3rem 0.4rem #3e3e3e;
  }
}
