// Start Section Portfolio 
section(class='portfolio pd-top-btm' id='portfolio')
  .container
    // Page Title 
    .page-title
      h2 My Portfolio
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit

    // Portfolio Nav 
    ul.list-unstyled.port-nav.work_menu#menu-filter
      li(class='port-link active' data-filter='*')
        a(href='#') All
      li(class='port-link' data-filter='.design')
        a(href='#') Design
      li(class='port-link' data-filter='.website')
        a(href='#') Website
      li(class='port-link' data-filter='.wordpress')
        a(href='#') Wordpress
    
    .row.port-arrea
      .col-lg-4.col-md-6.col-12.mix.design.wordpress
        // Start Item Box 
        .port-box
          .port-front
            img(src='img/port/port-01.jpg' alt='...')
          .port-back
            a.test-popup-link(href="img/port/port-01.jpg")
              i.fa.fa-search-plus
      .col-lg-4.col-md-6.col-12.mix.website
        // Start Item Box  
        .port-box
          .port-front
            img(src='img/port/port-02.jpg' alt='...')
          .port-back
            a.test-popup-link(href="img/port/port-02.jpg")
              i.fa.fa-search-plus
      .col-lg-4.col-md-6.col-12.mix.design
        // Start Item Box  
        .port-box
          .port-front
            img(src='img/port/port-03.jpg' alt='...')
          .port-back
            a.test-popup-link(href="img/port/port-03.jpg")
              i.fa.fa-search-plus
      .col-lg-4.col-md-6.col-12.mix.design
        // Start Item Box  
        .port-box
          .port-front
            img(src='img/port/port-04.jpg' alt='...')
          .port-back
            a.test-popup-link(href="img/port/port-04.jpg")
              i.fa.fa-search-plus
      .col-lg-4.col-md-6.col-12.mix.website.wordpress
        // Start Item Box  
        .port-box
          .port-front
            img(src='img/port/port-06.jpg' alt='...')
          .port-back
            a.test-popup-link(href="img/port/port-06.jpg")
              i.fa.fa-search-plus
      .col-lg-4.col-md-6.col-12.mix.website
        // Start Item Box  
        .port-box
          .port-front
            img(src='img/port/port-05.jpg' alt='...')
          .port-back
            a.test-popup-link(href="img/port/port-05.jpg")
              i.fa.fa-search-plus

// End Section Portfolio 
