// Start Navbar 
nav.navbar.navbar-expand-lg.navbar-light
  // Logo 
  a.navbar-brand(href='index.html' title='Nano')=  '  Nano  '
  button.navbar-toggler
    span.navbar-icon
  // Start Navbar Link 
  .navbar-collapse.collapse
    ul.navbar-nav
      li.nav-item.active
        a.nav-link.nav-btn(href='#')
          i.fa.fa-home
          span.nav-title-link Home
      li.nav-item.sec-about
        a.nav-link.nav-btn(href='#')
          i.fas.fa-user
          span.nav-title-link About
      li.nav-item
        a.nav-link.nav-btn(href='#')
          i.fa.fa-address-book
          span.nav-title-link Services
      li.nav-item.sec-port
        a.nav-link.nav-btn(href='#')
          i.fas.fa-briefcase
          span.nav-title-link Portfolio
      li.nav-item
        a.nav-link.nav-btn(href='#')
          i.fas.fa-comments
          span.nav-title-link Client
      li.nav-item
        a.nav-link.nav-btn(href='#')
          i.fas.fa-edit
          span.nav-title-link Blog
      li.nav-item
        a.nav-link.nav-btn(href='#')
          i.fas.fa-envelope
          span.nav-title-link Contact
  // End Navbar Link 
  
// End Navbar 
