// Start Section Client 
section(class='client pd-top-btm' id='client')
  .container
    // Page Title 
    .page-title
      h2 Clients  #[span say]
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit

    .swiper-container
      .swiper-wrapper
        // Start Item Slide
        .swiper-slide
          .single-client
            .slide-image
              figure
                img(src='img/client/team-01.jpg' alt='Image Client')
              .slide-name
                span Liam, 
                small Wordpress
            .slide-icon
              i.fas.fa-quote-left
            .slide-text
              p " Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere nisi, et odit a rem sunt aut quod officiis. "
        // Start Item Slide
        .swiper-slide
          .single-client
            .slide-image
              figure
                img(src='img/client/team-02.jpg' alt='Image Client')
              .slide-name
                span William, 
                small Design
            .slide-icon
              i.fas.fa-quote-left
            .slide-text
              p " Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere nisi, et odit a rem sunt aut quod officiis. "
        // Start Item Slide
        .swiper-slide
          .single-client
            .slide-image
              figure
                img(src='img/client/team-03.jpg' alt='Image Client')
              .slide-name
                span Lucas, 
                small Website
            .slide-icon
              i.fas.fa-quote-left
            .slide-text
              p " Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere nisi, et odit a rem sunt aut quod officiis. "
      // Pagination 
      .swiper-pagination
// End Section Client 
