// Start Section Portfolio 
section(class='portfolio pd-top-btm' id='portfolio')
  .container-fluid
    // Page Title 
    .page-title
      h2 My #[span portfolio]
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit

    // Portfolio Nav 
    ul.port-nav.list-unstyled.work_menu#menu-filter
      li(class='port-link active' data-filter='*')
        a(href='#') All
      li(class='port-link' data-filter='.design')
        a(href='#') Design
      li(class='port-link' data-filter='.website')
        a(href='#') Website
      li(class='port-link' data-filter='.wordpress')
        a(href='#') Wordpress
    
    .port-arrea
      // Start Item  Box 
      .port-box.mix.wordpress
        .port-item
          .port-front
            img(src='img/port/port-01.jpg' alt='image')
          .port-back
            a.test-popup-link(href="img/port/port-01.jpg")
              i.fa.fa-search-plus
      // Start Item  Box 
      .port-box.mix.website
        .port-item
          .port-front
            img(src='img/port/port-02.jpg' alt='image')
          .port-back
            a.test-popup-link(href="img/port/port-02.jpg")
              i.fa.fa-search-plus
      // Start Item  Box 
      .port-box.mix.wordpress
        .port-item
          .port-front
            img(src='img/port/port-03.jpg' alt='image')
          .port-back
            a.test-popup-link(href="img/port/port-03.jpg")
              i.fa.fa-search-plus
      // Start Item  Box 
      .port-box.mix.wordpress
        .port-item
          .port-front
            img(src='img/port/port-04.jpg' alt='image')
          .port-back
            a.test-popup-link(href="img/port/port-04.jpg")
              i.fa.fa-search-plus
      // Start Item  Box 
      .port-box.mix.design
        .port-item
          .port-front
            img(src='img/port/port-05.jpg' alt='image')
          .port-back
            a.test-popup-link(href="img/port/port-05.jpg")
              i.fa.fa-search-plus
      // Start Item  Box 
      .port-box.mix.website
        .port-item
          .port-front
            img(src='img/port/port-06.jpg' alt='image')
          .port-back
            a.test-popup-link(href="img/port/port-06.jpg")
              i.fa.fa-search-plus
      // Start Item  Box 
      .port-box.mix.design
        .port-item
          .port-front
            img(src='img/port/port-07.jpg' alt='image')
          .port-back
            a.test-popup-link(href="img/port/port-07.jpg")
              i.fa.fa-search-plus

// End Section Portfolio 
