// Start Section Blog  
section(class='blog pd-top-btm' id='blog')
  .container
    // Page Title 
    .page-title
      h2 Latest  #[span Blog]
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .row
      // Start Item Blog 
      .col-lg-4.col-md-6
        .blog-boxes
          .blog-image
            img(src='img/blog/bl-01.jpeg' alt='image')
          .blog-content
            .blog-details
              span.blog-date
                i.fas.fa-calendar-alt
                | Jan 01, 2020 
              span.blog-comment
                i.fas.fa-comment-dots
                | 19 Comment
            h4 I Need Uniqe Mockup Image
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ....
            .btns
              a(class='btn-btn' href="#") Read more 
                i.fa.fa-arrow-right
      // Start Item Blog 
      .col-lg-4.col-md-6
        .blog-boxes
          .blog-image
            img(src='img/blog/bl-02.jpeg' alt='image')
          .blog-content
            .blog-details
              span.blog-date
                i.fas.fa-calendar-alt
                | Jan 01, 2020 
              span.blog-comment
                i.fas.fa-comment-dots
                | 19 Comment
            h4 5 Tips In UI/UX Web Design
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ....
            .btns
              a(class='btn-btn' href="#") Read more 
                i.fa.fa-arrow-right
      // Start Item Blog 
      .col-lg-4.col-md-6
        .blog-boxes
          .blog-image
            img(src='img/blog/bl-03.jpeg' alt='image')
          .blog-content
            .blog-details
              span.blog-date
                i.fas.fa-calendar-alt
                | Jan 01, 2020 
              span.blog-comment
                i.fas.fa-comment-dots
                | 19 Comment
            h4 Top Best Exclusive Mockup
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ....
            .btns
              a(class='btn-btn' href="#") Read more 
                i.fa.fa-arrow-right

// End Section Blog  
