// Start Section Contact
.contact {
  // Start Contact Info
  .contact-info {
    ul {
      li {
        margin-bottom: 26px;
        h5 {
          color: $primary;
          font-size: 17px;
          span {
            color: $pargColor;
            display: block;
            font-size: 16px;
            margin-bottom: 8px;
          }
          i {
            margin-right: 8px;
          }
        }
        // Start Social Media
        .social {
          display: flex;
          padding: 0;
          margin-top: 16px;
          li {
            margin-right: 12px;
            a {
              color: var(--main--color);
              width: 35px;
              height: 35px;
              line-height: 35px;
              text-align: center;
              display: block;
              border: 1.2px solid var(--main--color);
              @include b-radius(50%);
              @include transition(0.4s);
              &:hover {
                transform: translateY(-10px);
                box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
                  2px 24px 10px rgba(0, 0, 0, 0.1);
              }
            }
          }
        }
        // End Social Media
      }
    }
  }
  // End Contact Info

  // Start Form Contact
  .contact-form {
    // Start Form Item
    .form-group {
      margin-bottom: 20px;
      &:nth-of-type(3) {
        .form-control {
          padding-left: 30px;
        }
      }
      .icon {
        position: absolute;
        top: 18px;
        left: 36px;
        opacity: 0.3;
      }
      .form-control {
        height: 50px;
        border: none;
        padding-left: 45px;
        box-shadow: none;
        @include b-radius(30px);
      }
      textarea {
        padding-top: 12px;
        height: 150px !important;
      }
      .btn-submit {
        margin-left: 15px;
      }
    }
    // End Form Item
  }
  // End Form Contact
}
// End Section Contact
