// Start Section Services  
section(class='services pd-top')
  .container
    // Page Title 
    .page-title
      h2 my Services
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit

    // Start Personal Infos 
    .row.pd-btm
      // Start Item Service 
      .col-lg-4.col-md-6
       .services-boxes
          .services-box-icon
            i.fas.fa-mobile-alt
          .services-box-content
            h4 Responsive Design
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      // Start Item Service 
      .col-lg-4.col-md-6
       .services-boxes
          .services-box-icon
            <i class="fa fa-bullhorn"></i>
          .services-box-content
            h4 Media Marketing
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      // Start Item Service 
      .col-lg-4.col-md-6
       .services-boxes
          .services-box-icon
            i.fa.fa-paint-brush
          .services-box-content
            h4 Graphic Design
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      // Start Item Service 
      .col-lg-4.col-md-6
       .services-boxes
          .services-box-icon
            <i class="fa fa-microphone"></i>
          .services-box-content
            h4 Voice Recording
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      // Start Item Service 
      .col-lg-4.col-md-6
       .services-boxes
          .services-box-icon
            i.fa.fa-check
          .services-box-content
            h4 Quick Support
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      // Start Item Service 
      .col-lg-4.col-md-6
       .services-boxes
          .services-box-icon
            i.fa.fa-globe
          .services-box-content
            h4 Branding Identity
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    // End Personal Infos 

// End Section Services 
