// Start Section About 
section(class='about pd-top-btm' id='about')
  .container
    // Page Title 
    .page-title
      h2 about #[span me]
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit

    // Start Personal Infos 
    .row
      .col-lg-6.col-md-6.col-sm-12.align-self-center
        .image-container
          img(class='img-fluid' src='img/about.jpeg' alt='Image')

      // Start About Content 
      .col-lg-6.col-md-6.align-self-center
        .about-content
          h4 I'm a #[span Front end Developer]
          ul.list-unstyled
            li
              span.at-title name
              span Ahmed Badr
            li
              span.at-title Birthdate
              span 4 Jan 1996
            li
              span.at-title Experience
              span 2 Years
            li
              span.at-title Freelance
              span Available
            li
              span.at-title Address
              span Alexandria, Egypt
            li
              span.at-title Email
              span badr@example.com
            li
              span.at-title Phone
              span + (00) 123 456 789
          // Download Cv
          a(class='btns cv' href="#") 
            i.fa.fa-download
            | Download My Cv
      // End About Content 
    // End Personal Infos 
    hr
    // Start Skills 
    .my-skills
      .row
        // Title Skill 
        h2.title-skill.col-12 My #[span Skills]

        // Start All Skills 
        .col-lg-4.col-md-6
          .all-skills
            // Start Item Skill 
            .skill
              .text
                span Adobe XD
                span 90%
              .chart-bar
                span.item-progress(data-progress='90%')
            // Start Item Skill 
            .skill
              .text
                span Javascript (Es5, Es6)
                span 85%
              .chart-bar
                span.item-progress(data-progress='85%')
            // Start Item Skill 
            .skill
              .text
                span Ajax, Json
                span 90%
              .chart-bar
                span.item-progress(data-progress='90%')
        // Start All Skills 
        .col-lg-4.col-md-6
          .all-skills
            // Start Item Skill 
            .skill 
              .text
                span Html 5
                span 90%
              .chart-bar
                span.item-progress(data-progress='90%')
            // Start Item Skill 
            .skill
              .text
                span Angular +7
                span 70%
              span.text 
              .chart-bar
                span.item-progress(data-progress='70%')
            // Start Item Skill 
            .skill
              .text
                span Bootstrap (V3, V4)
                span 98%
              .chart-bar
                span.item-progress(data-progress='98%')
        // Start All Skills 
        .col-lg-4.col-md-6
          .all-skills
            // Start Item Skill 
            .skill 
              .text
                span Css 3
                span 90%
              span.text 
              .chart-bar
                span.item-progress(data-progress='90%')
            // Start Item Skill 
            .skill
              .text
                span Jquery
                span 85%
              .chart-bar
                span.item-progress(data-progress='85%')
            // Start Item Skill 
            .skill
              .text
                span Github
                span 95%
              .chart-bar
                span.item-progress(data-progress='95%')
        // End All Skills         
// End Section About 
