// Start Section Header 
section.header.active#header
  .container
    // Star Text Content 
    .main-text-container
      .main-text
        span.hello Hello!
        h1 I'M Ahmed Badr
        h2.ah-headline a  
          span.ah-words-wrapper
            b.is-visible Front End Developer
            b UI / UX Designer
            b Freelancer 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas illum blanditiis ut unde beatae dignissimos, magni odit deleniti modi magnam, aperiam incidunt.
        .call-to-actions-home
          a.nav-btn.btns.sec-about(href='#about'): span
            i.fa.fa-user
            | more about me
          a.nav-btn.btns.sec-port(href='#portfolio'): span
            i.fas.fa-briefcase
            | Portfolio
    // End Text Content 
    
// End Section Header 
